
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik:wght@300;400;700;800&display=swap');

html, body{
    margin: 0;
    background-color: #e4f5e8;
}

section{
    max-width: 800px;
    margin: auto;
}

/* THE TOP */

#choices{
    background-color: white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 760px;
    min-height: 100px;
    border-radius: 10px;
    align-content: stretch;
}

#choices p{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
    color: #363636;
    padding-right: 20px;
    padding-left: 20px;
}

#choices span{
    color: #509660;
}

/* PLAYERS */
#players{
    display: flex;
    align-items: flex-end;   
    justify-content: space-around;
    flex-wrap: wrap;
}

#player_div {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    max-width: 350px;
    margin-top: 20px;
    padding-right: 10px;
}

#computer_div {
    text-align: center;
    background-color: white;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: 350px;
    margin-top: 20px;
    padding-left: 10px;
}

#computer_div_content {
    margin-top: auto;
}

/* TRIANGLES WHEN BUTTON HOVERED */

.trianglebutton{
    margin: 5px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;

}

#trianglerock{
    transition: 0.6s;
    opacity: 0%;
    max-width: 13%;
}

#trianglepaper{
    transition: 0.4s;
    max-width: 13%;
    opacity: 0%
}

#trianglescissors{
    transition: 0.4s;
    opacity: 0%;
    max-width: 13%;

}

/* all buttons */
#buttons{
    padding-top: 15px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

/* each button*/
.btn{
    background-color: white;
    border: none;
    min-width: 100px;
    max-width: 30%;
    font-family: 'Rubik', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    transition: 0.5s;
}

.btn:hover {
    cursor: pointer;
    color: #818181;
}

#rock:hover + #trianglerock {
    opacity: 100%;
}
#paper:hover + #trianglepaper {
    opacity: 100%;
}
#scissors:hover + #trianglescissors {
    opacity: 100%;
}

.icon{
    max-width: 45%;
    margin: 50px;
}

.currentresult{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    color: #363636;
    padding: 10px;
}

.results {
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
    padding: 10px;
    max-width: 102%;
}

#result_player{
    color: #509660;
    margin: 10px;
}

#result_computer {
    color: #9c625f;
    padding-top: 0px;
}